attrs==19.3.0
balena-sdk==9.0.0
curlify==2.2.1
Cython==0.29.7
docutils==0.15.2
Kivy==1.11.0
lockfile==0.12.2
PGen==0.2.1
Pillow==6.2.1
Pygments==2.5.2
pyserial==3.4
python-resources==0.3
qrcode==6.1
redis==3.3.11
rejson==0.5.4
requests==2.22.0
requests-futures==1.0.0
RPi.GPIO==0.7.0
setuptools==41.0.1
treepoem==3.1.0